## Update Rail References with Latitude and Longitude

In [2]:
import pandas as pd

## Ingest Raw Dataset

In [35]:
df = pd.read_csv('./raw_data/RailReferences.csv')
df.head()

,AtcoCode,TiplocCode,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification
0,9100PENZNCE,PENZNCE,PNZ,Penzance Rail Station,NaN,U,147588,30599,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev
1,9100STIVES,STIVES,SIV,St Ives (Cornwall) Rail Station,NaN,U,151947,40127,2005-04-04T00:00:00,2011-09-30T14:47:28,4,rev
2,9100CARBISB,CARBISB,CBB,Carbis Bay Rail Station,NaN,U,152930,38745,2003-11-04T00:00:00,2011-09-30T14:47:28,5,rev
3,9100STERTH,STERTH,SER,St Erth Rail Station,NaN,U,154150,35730,2003-11-04T00:00:00,2007-02-13T17:06:21,3,rev
4,9100LELANTS,LELANTS,LTS,Lelant Saltings Rail Station,NaN,U,154430,36640,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev

## Convert Easting, Northing to Latitude and Longitude

In [4]:
!pip install pyproj

Requirement already satisfied: pyproj in c:\users\audre\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: certifi in c:\users\audre\anaconda3\lib\site-packages (from pyproj) (2024.2.2)

In [36]:
from pyproj import Transformer

In [37]:
#  Define the British National Grid projection (EPSG:27700) and WGS84
osgb_projection = 'epsg:27700'  # British National Grid
wgs84_projection = 'epsg:4326'  # WGS84

In [38]:
# Initialize the transformer
transformer = Transformer.from_crs(osgb_projection, wgs84_projection)

In [39]:
# Function to convert British National Grid to latitude and longitude
def convert_osgb_to_latlong(easting, northing):
    longitude, latitude = transformer.transform(easting, northing)
    return longitude, latitude

In [40]:
# Apply conversion to the DataFrame and create new columns Latitude and Longitude
df[['Latitude', 'Longitude']] = df.apply(lambda row: convert_osgb_to_latlong(row['Easting'], row['Northing']),\
                                         axis=1,\
                                         result_type='expand')

In [41]:
df.head()

,AtcoCode,TiplocCode,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification,Latitude,Longitude
0,9100PENZNCE,PENZNCE,PNZ,Penzance Rail Station,NaN,U,147588,30599,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev,50.121672,-5.532565
1,9100STIVES,STIVES,SIV,St Ives (Cornwall) Rail Station,NaN,U,151947,40127,2005-04-04T00:00:00,2011-09-30T14:47:28,4,rev,50.209043,-5.477912
2,9100CARBISB,CARBISB,CBB,Carbis Bay Rail Station,NaN,U,152930,38745,2003-11-04T00:00:00,2011-09-30T14:47:28,5,rev,50.197048,-5.463263
3,9100STERTH,STERTH,SER,St Erth Rail Station,NaN,U,154150,35730,2003-11-04T00:00:00,2007-02-13T17:06:21,3,rev,50.170489,-5.444252
4,9100LELANTS,LELANTS,LTS,Lelant Saltings Rail Station,NaN,U,154430,36640,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev,50.178775,-5.440926

## Keep Data Needed for Analysis

In [42]:
data = df[['TiplocCode', 'StationName', 'Latitude', 'Longitude']]
data

     TiplocCode                      StationName   Latitude  Longitude
0       PENZNCE            Penzance Rail Station  50.121672  -5.532565
1        STIVES  St Ives (Cornwall) Rail Station  50.209043  -5.477912
2       CARBISB          Carbis Bay Rail Station  50.197048  -5.463263
3        STERTH             St Erth Rail Station  50.170489  -5.444252
4       LELANTS     Lelant Saltings Rail Station  50.178775  -5.440926
...         ...                              ...        ...        ...
2623    SMRLYTN         Somerleyton Rail Station  52.510229   1.652260
2624    OULTNBS  Oulton Broad South Rail Station  52.469602   1.707659
2625     YARMTH      Great Yarmouth Rail Station  52.612158   1.720886
2626    OULTNBN  Oulton Broad North Rail Station  52.477759   1.715711
2627    LOWSTFT           Lowestoft Rail Station  52.474436   1.749708

[2628 rows x 4 columns]

## Data Enrichment
Used this section to add identifying information for top Timing Point Locations (*TiplocCode*) not already identified in the supplied "RailReferences.csv" data.

Research indicates that the Timing Point Location for BONDST, correlates to Bond Street Station$^{1}$ located at 51.514°N, 0.15°W$^{2}$.

In [43]:
new_row = pd.DataFrame([['BONDST', 'Bond Street Station', 51.514, -0.15]], columns=data.columns)
data = pd.concat([data, new_row], ignore_index=True)

In [44]:
data

     TiplocCode                      StationName   Latitude  Longitude
0       PENZNCE            Penzance Rail Station  50.121672  -5.532565
1        STIVES  St Ives (Cornwall) Rail Station  50.209043  -5.477912
2       CARBISB          Carbis Bay Rail Station  50.197048  -5.463263
3        STERTH             St Erth Rail Station  50.170489  -5.444252
4       LELANTS     Lelant Saltings Rail Station  50.178775  -5.440926
...         ...                              ...        ...        ...
2624    OULTNBS  Oulton Broad South Rail Station  52.469602   1.707659
2625     YARMTH      Great Yarmouth Rail Station  52.612158   1.720886
2626    OULTNBN  Oulton Broad North Rail Station  52.477759   1.715711
2627    LOWSTFT           Lowestoft Rail Station  52.474436   1.749708
2628     BONDST              Bond Street Station  51.514000  -0.150000

[2629 rows x 4 columns]

## Export Desired Dataframe

In [45]:
output = data.to_csv('./cleaned_data/RailReferencesCleaned.csv', index=False, mode = 'w+')

## Bibliography

1. http://www.railwaycodes.org.uk/crs/crsb.shtm

2. https://en.wikipedia.org/wiki/Bond_Street_station